/* Styling */

// Imports
@import "lg-transitions";
@import "lightgallery";
@import "normalize";
@import "lg-thumbnail"
    
//Styling    

//Layout
main {
    background: #041c2a;
    margin: 0 auto;
    width: 90%;
}


//RWD header img
main header img {
    height: 40%;
    width: auto;
}

h1

// Portfolio Items

figure img {
    box-shadow: 2px 2px 2px grey;
    margin: 10px;
}

// Flexbox Layout
article {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
}

article figure {
  background: #115371;
  padding: 1em;
  width: 20em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
